.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding-top: 92px;
    padding-right: 24px;
    padding-bottom: 96px;
    padding-left: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.header__menu {

}
.header__links-list {
    display: flex;
    list-style: circle;
    column-gap: 32px;
    padding-left: 30px;
    padding-top: 45px;
    padding-right: 35px;
    padding-bottom: 40px;
}
.header__links-list-item {

}
.header__links-list-item_no-bullit {
    list-style: none;

}
.header__link {

}
.header__link_active {

}
.header__logo {

}
.header__logo-image {
    height: 105px;
    width: 148px;

}
.address {
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 185px;

}
.header__address {

}

.cover {
    width: 1110px;
    height: 760px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background-color: rgb(0 0 0 / 0.7);
    width: 1110px;
    height: 760px;
}

.cover__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    color: #FFFFFF;
}
.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}
.aligned-text_right {
    text-align: right;
}
.letter-spacing-extended {
    letter-spacing: 0.6em;
}
.no-letter-spacing {
    letter-spacing: 0.3em;
}
.cover__description {}
.cover__description-text {}
.bet-button {}

